@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;

}
#header-section{
    display: flex;
    justify-content: space-between;
    margin: 30px auto;
    background-color:black;
    height: 646px;
width: 1321px;
border-radius: 30px;


}
.game-info{
    margin-left:106px ;
    margin-top: 111px;
    margin-bottom: 111px;
    height: 424px;
width: 531px;
border-radius: 5px;

}
.game-title{
font-size: 70px;
line-height: 80px;
text-align: left;
color:white ;

}
.game-des{
font-size: 16px;
line-height: 26px;
color: white;
margin-top: 20px;

}
button{
background-color: #dd0000;
border: none;
border-radius: 5px;
padding: 16px 25px;
margin-top: 30px;
color: white;
}
.angle{
    margin-left: 7px;
}
.header-banner img{
    height: 613px;
width: 581px;
margin-top: 32px;
margin-right: 55px;

}
.buttons{
    background-color:black;
    height: 312px;
width: 312px;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;

}
.button-style{
    height: 64px;
width: 252px;
border-radius: 10px;
color: black;
background-color: #fff;

}
.blog-button .button-style{
    background-color: #dd0000;
    color: #fff;
}
/*------------
     BLOGS
 ------------*/ 
 #blog-section{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 100px;
 }  
 .blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 25px;
    
 }
 .blog{
    height: 362px;
width: 312px;
margin-top: 20px;
border: 1px solid #e8e8e8;
border-radius:10px ;

 } 
 .transfer-button{
    height: 32px;
width: 100px;
border-radius: 5px;
border: 1px solid black;
background-color: white;
color: black;
display: flex;
align-items: center;
margin-left: 15px;

 }
 .blog-details{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
 }
 .blog-info{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
 }
 /*-------------
      footer
---------------*/
footer{

background-color: black;
text-align: center;
padding-top :100px;
padding-bottom: 150px;
margin-top: 130px;
color: white;

}
hr{
    background-color: white;
    height: 1px;
    border: none;
    margin-top: 25px;
}
#extra-details{
    display: flex;
    justify-content: center;
    gap:25px ;
    margin-top: 40px;
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.media{
   font-size: 20px; 
   margin-top: 40px;
   
}
.social-site{
    color:white ;
}
