@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*{
   margin: 0; 
   padding: 0;
   box-sizing: border-box;
   font-family: 'Poppins', sans-serif;

}

   

#header-section{
    display: flex;
    justify-content: center;
    margin: 30px auto;
    background-color:black;
    height: 90vh;
width: 95vw;
border-radius: 30px;


}
.game-info{
    margin-left:80px ;
    margin-top: 111px;
    margin-bottom: 111px;
    height: 50%;
width: 50vw;
border-radius: 5px;


}


.game-title{
font-size: 4vw;
text-align: left;
color:white ;

}
.game-des{
font-size: 1rem;
color: white;
margin-top: 20px;
width: 80%;
text-align: left;

}
button{
background-color: #dd0000;
border: none;
border-radius: 5px;
height: 2.5rem;
padding: 0px 10px;
margin-top: 30px;
color: white;
}
.angle{
    margin-left: 7px;
}
.header-banner img{
    height: 95%;
width: 50vw;
margin-top: 32px;

}
.buttons{
    background-color:black;
    height: 312px;
width: 312px;
border-radius: 10px;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 20px;

}
.button-style{
    height: 64px;
width: 252px;
border-radius: 10px;
color: black;
background-color: #fff;

}
.blog-button .button-style{
    background-color: #dd0000;
    color: #fff;
}
/*------------
     BLOGS
 ------------*/ 
 #blog-section{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 100px;
 }  
 .blogs{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 25px;
    
 }
 .blog{
    height: 362px;
width: 312px;
margin-top: 20px;
border: 1px solid #e8e8e8;
border-radius:10px ;

 } 
 .transfer-button{
    height: 32px;
width: 100px;
border-radius: 5px;
border: 1px solid black;
background-color: white;
color: black;
display: flex;
align-items: center;
margin-left: 15px;

 }
 .blog-details{
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
 }
 .blog-info{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 15px;
 }
 /*-------------
      footer
---------------*/
footer{

background-color: black;
text-align: center;
padding-top :100px;
padding-bottom: 150px;
margin-top: 130px;
color: white;

}
hr{
    background-color: white;
    height: 1px;
    border: none;
    margin-top: 25px;
}
#extra-details{
    display: flex;
    justify-content: center;
    gap:25px ;
    margin-top: 40px;
}
.social-media{
    display: flex;
    justify-content: center;
    gap: 30px;
}
.media{
   font-size: 20px; 
   margin-top: 40px;
   
}
.social-site{
    color:white ;
}
.flags{
    display: flex;
    align-items: center;
    gap: 10px;
}
.matches{
    height: 242px;
width: 312px;
margin-top: 20px;
border: 1px solid #e8e8e8;
border-radius:10px ;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}
@media screen and (max-width: 768px){
    #header-section img{
        width: 270px;
    
    
    }
    #header-section{
        display: flex;
    background-color:black;
    height: 90vh;
width: 95vw;
border-radius: 30px;
margin: 20 auto;

    }
    .game-info{
        margin-left:30px ;
        margin-top: 120px;
        margin-bottom: 20px;
    

    
    
    
    }

    #blog-section{
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
        margin-top: 50px;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: center;
        margin: 0 auto;
    height: 0;
        margin-bottom: 40px;

    }
    .button-style{
        height: 64px;
width: 150px;
border-radius: 10px;
padding: 0.35em 1.2em;
border: 1px solid grey;


    }

    .blogs{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        column-gap: 70px;
        
    }
    .blog-container{
        margin:0 auto ;
    }
    .blog{
        height: 350px;
        width: 200px;

 
 

    }
    .blog .thumbnail img{
     height: 100%;
     width: 100%
    }
    footer{

        padding-top :60px;
        padding-bottom: 70px;
        margin-top: 40px;
        
    }
    
    }
    #extra-details{
        flex-wrap: wrap;

    }
    
      @media screen and (max-width:550px)  {
        
         #header-section{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
width: 90vw;
border-radius: 10px;


         }  
         .game-info{
            height: 50vh;
width: 90vw;




            margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        
        } 
        .header-banner img{
            height: 90%;
        width: 100%;
        
        
        
        }
        .game-title{
            margin-top: 20px;
            font-size: 4.5vh;
            text-align: center;
            color:white ;
            width: 70%;
            
            }
            .game-des{
            font-size: 1rem;
            color: white;
            margin-top: 20px;
            width: 80%;
            text-align:center
            
            }
            .buttons{
                display: flex;
                flex-direction: column;
                
            margin-top: 0px;
        
                height: 200px;
                width: 90vw;
                background-color: white;
                
        
    
        
            }
            .button-style{
                height: 64px;
        width: 250px;
        font-size: 1em;
        border-radius: 10px;
        padding: 0.35em 1.2em;
        border: 1px solid grey;
        
        
            }
            .blogs{
                display: grid;
                grid-template-columns: repeat(1,1fr);
                row-gap: 20px;
                
                
             }
             .blog{
                height: 100%;
            width: 80%;
            margin: 0 auto;
            
            
             } 
        }
